<log4net>
    <appender name="GelfUdpAppender" type="Gelf4Net.Appender.GelfUdpAppender, Gelf4Net.UdpAppender">
        <remoteAddress value="10.10.20.113" />
        <remotePort value="22004" />
        <layout type="Gelf4Net.Layout.GelfLayout, Gelf4Net.Core">
            <param name="AdditionalFields" value="app:DotnetcoreUdpAppender,version:1.0,Environment:Dev,Level:%level" />
            <param name="Facility" value="CWOPR Local" />
            <param name="IncludeLocationInformation" value="true" />
            <param name="ConversionPattern" value="%-5level [%thread] %logger{1} %M - %m" />
            <param name="SendTimeStampAsString" value="false"/>
        </layout>
    </appender>


    <root>
        <level value="ERROR" />
        <appender-ref ref="GelfUdpAppender" />
        <appender-ref ref="RollingFile" />
    </root>
</log4net>